<p id="notice"><%= notice %></p>

<h1>Listing Uesertypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uesertypes.each do |uesertype| %>
      <tr>
        <td><%= uesertype.name %></td>
        <td><%= uesertype.description %></td>
        <td><%= link_to 'Show', uesertype %></td>
        <td><%= link_to 'Edit', edit_uesertype_path(uesertype) %></td>
        <td><%= link_to 'Destroy', uesertype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uesertype', new_uesertype_path %>
